.sapMObjectIdentifierTitle>.sapUiSelectable {
	font-size : xx-large;
}

.MapContainer {
width:90%; 
height: 25rem;
margin-left: 3rem;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 5px 5px 5px 5px;
transition: 0.3s;
}


