/dist/
# auto generated wildcard
MAACDE/.env1
# auto generated wildcard
MAFA/.env1
# auto generated wildcard
MAACDE/.env2
# auto generated wildcard
MAACDE/.env3
# auto generated wildcard
Dashboard/.env2