.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px 5px 5px 5px;
  transition: 0.3s;
  text-align: center;
  width:12rem;
  padding-top: 1rem;
}

.iconImg{
  max-width: 90%;	
}

.card:hover {
  box-shadow: 0 38px 36px 0 rgba(0,0,0,0.2);
}

.container {
  display: flex;
  padding: 1px 2px;
  border-top-style: solid;
  border-color: #ddd;
  border-width: 1px;
}

